.main-logo{
    h1{
        margin-left: 32px;
        a{
            width: 153px;
            height: 42px;
            display: flex;
            font-size: 50px;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
            background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/2b326fe971cd296bd54667a9b4a63c4b0f19fab3/week5/logo-ANSWER.svg);
        }
    }
}