.menu-user{
    width: inherit;
    a{
        img{
            width: 40px;
            height: 40px;
            border-radius: 24px;
        }
    }
    .name-mail{
        height: inherit;
        .username{
            color: $font-black-color;            
        }
        .usermail{
            font-size: $fz-s-size;
            color: $font-gray-color;
        }
    }
}