.optionList{
    width: inherit;
    height: 77%;
    ul{
        height: 260px;
        li{
            a{                
                width: inherit;
                color: $font-black-color;              
            }
            a:hover{
                border-left: 4px solid $a-hover-green;
                color: $a-hover-green;
                font-weight: bold;
            }
        }
    }
}