.header{
    .add-admin{
        min-width: 87%;
        color: $font-black-color;
        .material-icons{
            color: $a-hover-green;
        }
        p{
            white-space: nowrap;
        }
        .modal{
            .modal-content{
                .modal-body{
                    div{
                        label{
                            font-size: $fz-s-size;
                            margin-bottom: 4px;
                        }
                        input{
                            width: 460px;
                            height: 51px;
                            margin-bottom: 16px;
                        }
                    }
                    .verify-result{
                        .material-icons{
                            color: red;
                        }
                    }
                    .verify-btn{
                        background-color:transparent;
                        color: $a-hover-green;
                        padding: 16px 151px;
                    }
                    select{
                        width: 460px;
                        height: 51px;
                        color: $font-gray-color;
                    }
                }
            }
        }
    }
    .admin-header-icon{
        max-width: 6%;
    }
}