/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Lato', 'Roboto Mono', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

h2 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: bold; }

h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold; }

h5 {
  font-weight: bold; }

.cancel-btn {
  width: 113px;
  color: #198754;
  border: 1px solid #198754; }

.success-btn {
  width: 93px; }

.font-bold {
  font-weight: bold; }

.font-gray {
  color: #6C757D; }

.lh12 {
  line-height: 1.2; }

.mgt-4 {
  margin-top: 4px; }

.mgt-40 {
  margin-top: 40px; }

.mgt-70 {
  margin-top: 70px; }

.mgr-9 {
  margin-right: 9px; }

.mgr-11 {
  margin-right: 11px; }

.mgr-16 {
  margin-right: 16px; }

.mgb-48 {
  margin-bottom: 48px; }

.mgb-8 {
  margin-bottom: 8px; }

.mgb-16 {
  margin-bottom: 16px; }

.mgb-18 {
  margin-bottom: 18px; }

.mgb-20 {
  margin-bottom: 20px; }

.mgb-30 {
  margin-bottom: 30px; }

.mgl-16 {
  margin-left: 16px; }

.mgl-19 {
  margin-left: 15px; }

.mgl-25 {
  margin-left: 25px; }

.mgl-32 {
  margin-left: 32px; }

.mgl-47 {
  margin-left: 47px; }

.font-s-size {
  font-size: 14px; }

.pd-32 {
  padding: 32px; }

.pdr-4 {
  padding-right: 4px; }

.pdl-24 {
  padding-left: 24px; }

.pdl-32 {
  padding-left: 32px; }

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.menu-bar {
  width: 296px;
  min-height: 960px;
  max-width: 296px;
  background-color: #F8F9FA;
  padding: 32px 113px 32px 0px; }

.main-logo h1 {
  margin-left: 32px; }
  .main-logo h1 a {
    width: 153px;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 50px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/2b326fe971cd296bd54667a9b4a63c4b0f19fab3/week5/logo-ANSWER.svg); }

.optionList {
  width: inherit;
  height: 77%; }
  .optionList ul {
    height: 260px; }
    .optionList ul li a {
      width: inherit;
      color: #000; }
    .optionList ul li a:hover {
      border-left: 4px solid #198754;
      color: #198754;
      font-weight: bold; }

.menu-user {
  width: inherit; }
  .menu-user a img {
    width: 40px;
    height: 40px;
    border-radius: 24px; }
  .menu-user .name-mail {
    height: inherit; }
    .menu-user .name-mail .username {
      color: #000; }
    .menu-user .name-mail .usermail {
      font-size: 14px;
      color: #6C757D; }

.pages {
  width: 83%;
  padding: 32px; }

.table-settings {
  line-height: 3.4; }
  .table-settings thead {
    border-bottom: 2px solid #000; }
  .table-settings tbody tr {
    border-bottom: 1px solid #CED4DA; }
    .table-settings tbody tr .modal-content {
      max-width: 480px; }
      .table-settings tbody tr .modal-content .admin-img img {
        width: 141px;
        height: 141px; }
      .table-settings tbody tr .modal-content .info-verify {
        background-color: #F8F9FA;
        padding: 4px 8px; }

.pagination .page-item .page-link {
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #198754; }

.pagination .page-item .page-link:hover {
  background-color: #198754;
  color: #fff; }

.header .add-admin {
  min-width: 87%; }
  .header .add-admin a {
    color: #000; }
    .header .add-admin a .material-icons {
      color: #198754; }
    .header .add-admin a p {
      white-space: nowrap; }
    .header .add-admin a .modal .modal-content .modal-body div label {
      font-size: 14px;
      margin-bottom: 4px; }
    .header .add-admin a .modal .modal-content .modal-body div input {
      width: 460px;
      height: 51px;
      margin-bottom: 16px; }
    .header .add-admin a .modal .modal-content .modal-body .verify-result .material-icons {
      color: red; }
    .header .add-admin a .modal .modal-content .modal-body .verify-btn {
      background-color: transparent;
      color: #198754;
      padding: 16px 151px; }
    .header .add-admin a .modal .modal-content .modal-body select {
      width: 460px;
      height: 51px;
      color: #6C757D; }
  .header .add-admin .admin-search-input {
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    width: 0px;
    border: none;
    padding: 4px; }
  .header .add-admin .active {
    border: 1px solid #000;
    border-radius: 5px;
    width: 200px; }

.header .admin-header-icon {
  max-width: 6%; }
  .header .admin-header-icon a {
    color: #000; }
  .header .admin-header-icon .ding:hover {
    color: red; }

/*# sourceMappingURL=all.css.map */
